POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789

AUTH_DB=auth_db
USER_DB=user_db
MENTOR_DB=mentor_db
SKILL_DB=skill_db
SESSION_DB=session_db
GROUP_DB=group_db
REVIEW_DB=review_db

JWT_SECRET=mysecretkeymysecretkeymysecretkey123
JWT_EXPIRATION=3600000

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_EXCHANGE=session.exchange
RABBITMQ_QUEUE=session.queue
RABBITMQ_ROUTING_KEY=session.routingkey

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
